<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{naslov}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="main">
        <header>
            <div class="div1">
                <p>{{username}}</p>
                <img src="{{ url_for('static', filename='images/user-icon.png') }}" alt="User icon", width="70px">
            </div>
        </header>

        <nav>
            <a href="{{ url_for('logout') }}">Logout</a>
            <a href="/?id=1">Home</a>
            {% if ovlasti == 1 %}
            <a href="/?id=2">Korisnici</a>
            {% endif %}
        </nav>

        <main>
            {% if statusi %}
            <div class="div_statusi">
                 <table class="tablica">
                    <thead>
                        <th>Korisnik</th>
                        <th>Vrata</th>
                        <th>Datum</th>
                        <th>Rezultat</th>
                    </thead>
                    <tbody>
                        {% for status in statusi %}
                        <tr>
                            <td>{{status[0]}}</td>
                            <td>{{status[1]}}</td>
                            <td>{{status[2]}}</td>
                            <td>{{status[3]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

           {% if prostorije %}
            <div class="dozvole">
                <table class="dozvole tablica">
                    <thead>
                        <th>Dozvole</th>
                        <th>Obriši</th>
                    </thead>
                    <tbody>
                        {% for prostorija in prostorije %}
                        {% if prostorija[0] == id_korisnika %}
                            <tr>
                                <td>{{prostorija[1]}}</td>
                                <td>
                                    <form action="{{ url_for('delete_dozvolu', id_korisnika=prostorija[0], id_vrata=prostorija[2]) }}" method="POST" >
                                        <input type="submit" value="Obriši" class="button">
                                    </form>
                                </td>
                            </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
                <form class="form_dropdown" id="form_dropdown">
                    Izbor nove dozvole: <select id="izbor_dozvola" name="izbor_dozvola" >
                      <option value="">--Select--</option>
                      {% for door in vrata %}
                      <option value="{{door[0]}}">{{door[0]}}</option>
                      {% endfor %}
                    </select>
                    <br><br>
                    <input type="submit" value="Submit">
                </form>

            {% endif %}



            {% elif korisnici %}
            <button id="popup_button" class="popup_button">Dodavanje novog korisnika ></button>

            <div class="div_korisnici">
                <table class="tablica">
                    <thead>
                        <th>Korisnik</th>
                        <th>Ovlasti</th>
                        <th>RFID</th>
                        <th>Uređivanje</th>
                    </thead>
                    <tbody>
                        {% for korisnik in korisnici %}
                        {% if korisnik[0] %}
                        <tr>
                            <td>{{korisnik[1]}}</td>
                            <td>{{korisnik[2]}}</td>
                            <td>{{korisnik[3]}}</td>
                            <td>
                            <form action="{{ url_for('uredi_korisnika', id_korisnik=korisnik[0]) }}" method="GET" >
                                <input type="submit" value="Uredi" class="button">
                                </form>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% endif %}

        </main>
    </div>

    <div id="popup_window" class="popup">
        <div class="popup_content">
            <h1>Dodaj korisnika</h1>
            <form id="add_korisnik_form" method="POST" action="/add_korisnik">
                <label for="ime">Ime:</label>
                <input type="text" id="ime" name="ime" required><br>

                <label for="prezime">Prezime:</label>
                <input type="text" id="prezime" name="prezime" required><br>

                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br>

                <label for="rfid">RFID:</label>
                <input type="text" id="rfid" name="rfid" required><br>

                <input type="radio" id="korisnik" name="tip" value="korisnik" required>
                <label for="korisnik">Korisnik</label><br>
                <input type="radio" id="admin" name="tip" value="admin" required>
                <label for="admin">Admin</label><br>

                <input type="submit" value="Submit" class="button">
            </form>
            <button id="close_button">Close</button>
        </div>
    </div>


    <script>
        // Otvaranje popup window-a
        popup_button.addEventListener("click", function(event) {
            event.preventDefault();
            popup_window.style.display = "block";
        });

        // Zatvaranje popup window-a
        close_button.addEventListener("click", function() {
            popup_window.style.display = "none";
        });

        // Dropdown izbornik
        window.onload = function() {
            var dozvoleSel = document.getElementById("izbor_dozvola");
            var izabranaDozvola = dozvoleSel.value;
        }

    </script>

</body>
</html>