<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{naslov}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="main">
        <header>
            <div class="div1">
                <p>{{username}}</p>
                <img src="{{ url_for('static', filename='images/user-icon.png') }}" alt="User icon", width="70px">
            </div>
        </header>
        
        <nav>  
            <a href="{{ url_for('logout') }}">Logout</a>
            <a href="/?id=1">Home</a>
            {% if ovlasti == 1 %}
            <a href="/?id=2">Korisnici</a>
            {% endif %}
        </nav>
        
        <main>
            {% if statusi %}
            <div class="div_statusi">
                 <table class="tablica">
                    <thead>
                        <th>Korisnik</th>
                        <th>Vrata</th>
                        <th>Datum</th>
                        <th>Rezultat</th>
                    </thead>
                    <tbody>
                        {% for status in statusi %}
                        <tr>
                            <td>{{status[0]}}</td>
                            <td>{{status[1]}}</td>
                            <td>{{status[2]}}</td>
                            <td>{{status[3]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
           

                {% if dozvole %}
                <table class="tablica">
                    <thead>
                        <th>Dozvole</th>
                        <th>Obriši</th>
                    </thead>
                    <tbody>
                        {% for dozvola in dozvole %}
                        <tr>
                            <td>{{dozvola[0]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
                <form class="form_dropdown" id="form_dropdown">
                    Izbor nove dozvole: <select id="izbor_dozvola" name="izbor_dozvola" >
                      <option value="">--Select--</option>
                      {% for door in vrata %}
                      <option value="{{door[0]}}">{{door[0]}}</option>
                      {% endfor %}
                    </select>
                    <br><br>
                    <input type="submit" value="Submit">
                </form> 
               
            {% endif %}



            {% elif korisnici %}
            <button id="popup_button" class="popup_button">Dodavanje novog korisnika ></button>

            <div class="div_korisnici">
                <table class="tablica">
                    <thead>
                        <th>Korisnik</th>
                        <th>Ovlasti</th>
                        <th>RFID</th>
                        <th>Uređivanje</th>
                    </thead>
                    <tbody>
                        {% for korisnik in korisnici %}
                        {% if korisnik[0] %}
                        <tr>
                            <td>{{korisnik[1]}}</td>
                            <td>{{korisnik[2]}}</td>
                            <td>{{korisnik[3]}}</td>
                            <td>
                            <form action="{{ url_for('uredi_korisnika', id_korisnik=korisnik[0]) }}" method="GET" >
                                <input type="submit" value="Uredi" class="button">
                                </form>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% endif %}     

        </main>     
    </div>

    <div id="popup_window" class="popup">
        <div class="popup_content">
           <h1>Pop-up Window</h1>
            <p>This is a pop-up window.</p>
            <button id="close_button">Close</button> 
        </div>
        
    </div> 
 
    <script>
        // Otvaranje popup window-a
        popup_button.addEventListener("click", function(event) {
            event.preventDefault();
            popup_window.style.display = "block";
        });

        // Zatvaranje popup window-a
        close_button.addEventListener("click", function() {
            popup_window.style.display = "none";
        });

        // Dropdown izbornik
        window.onload = function() {
            var dozvoleSel = document.getElementById("izbor_dozvola");
            var izabranaDozvola = dozvoleSel.value;
        }
        
    </script>     

</body>
</html>

   